<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin/admin-dashboard}">
<head>
    <title>Delete Product - FictionShop Admin</title>
</head>
<body>
<main layout:fragment="content">

    <div class="container-fluid px-4 mt-4 col-md-10" >
        <h1 class="mt-5">Delete</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a th:href="@{/admin/index}">Dashboard</a></li>
            <li class="breadcrumb-item"><a th:href="@{/admin/product/}">Products</a></li>
            <li class="breadcrumb-item active">Delete</li>
        </ol>
        <div class="col-md-6">
            <label for="validationServer06" class="form-label">Products</label>
            <form  th:action="@{/admin/product/delete-select}" method="post" th:object="${deleteProduct}">
                <div class="input-group">
                    <select class="form-select" th:field="*{id}" id="validationServer06" required>
                        <option selected disabled value="">Select...</option>
                        <option th:each="product : ${productList}"  th:value="${product.id}" th:text="${product.id + ' - ' + product.productName}"></option>
                    </select>
                    <button class="btn btn-outline-danger col-2"  type="submit" >Delete</button>
                </div>
            </form>
        </div>
    </div>
</main>

</body>
</html>