<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fictionshop">
    <meta name="keywords" content="science fiction, lotr, harry potter, accessory, book">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" th:href="@{/images/fictionshop/icon.png}">
    <title>Fictionshop - Contact</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/ficrionshop/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/ficrionshop/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/ficrionshop/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/ficrionshop/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/ficrionshop/magnific-popup.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/ficrionshop/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/ficrionshop/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/ficrionshop/style.css}" type="text/css">

</head>
<body>

<div th:replace="fragments/fictionshop/header"></div>

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a th:href="@{/fictionshop/index}"><i class="fa fa-home"></i> Home</a>
                        <span>Contact</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__content">
                        <div class="contact__address">
                            <h5>Contact info</h5>
                            <ul>
                                <li>
                                    <h6><i class="fa fa-map-marker"></i> Address</h6>
                                    <p>Merkez Mah. Pursaklar/ANKARA</p>
                                </li>
                                <li>
                                    <h6><i class="fa fa-phone"></i> Phone</h6>
                                    <p><span>+90 553 567 47 54</span></p>
                                </li>
                                <li>
                                    <h6><i class="fa fa-headphones"></i> Support</h6>
                                    <p>fictionshop.sup@gmail.com</p>
                                </li>
                            </ul>
                        </div>
                        <div class="contact__form">
                            <h5>SEND MESSAGE</h5>
                            <form action="" method="post" enctype="text/plain">
                                <input type="text" placeholder="Name">
                                <input type="text" placeholder="Email">
                                <textarea placeholder="Message"></textarea>
                                <button type="submit" class="site-btn">Send Message</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="contact__map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d34559.6505701019!2d32.885717600575546!3d40.0381375364382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4082086d29b99d0f%3A0xae9925dae6fd007a!2sPursaklar%2C%20Ankara!5e0!3m2!1str!2str!4v1672925464775!5m2!1str!2str"  height="780" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

<!-- Instagram Begin -->
<div class="instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" th:attr="data-setbg = @{/images/fictionshop/instagram/insta-1.jpg}">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ fictionshop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" th:attr="data-setbg = @{/images/fictionshop/instagram/insta-2.jpg}">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ fictionshop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" th:attr="data-setbg = @{/images/fictionshop/instagram/insta-3.jpg}">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ fictionshop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" th:attr="data-setbg = @{/images/fictionshop/instagram/insta-4.jpg}">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ fictionshop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" th:attr="data-setbg = @{/images/fictionshop/instagram/insta-5.jpg}">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ fictionshop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" th:attr="data-setbg = @{/images/fictionshop/instagram/insta-6.jpg}">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@ fictionshop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Instagram End -->

<!-- Footer Section Begin -->
<div th:replace="fragments/fictionshop/footer"></div>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script th:src="@{/js/fictionshop/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/fictionshop/bootstrap.min.js}"></script>
<script th:src="@{/js/fictionshop/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/fictionshop/jquery-ui.min.js}"></script>
<script th:src="@{/js/fictionshop/mixitup.min.js}"></script>
<script th:src="@{/js/fictionshop/jquery.countdown.min.js}"></script>
<script th:src="@{/js/fictionshop/jquery.slicknav.js}"></script>
<script th:src="@{/js/fictionshop/owl.carousel.min.js}"></script>
<script th:src="@{/js/fictionshop/jquery.nicescroll.min.js}"></script>
<script th:src="@{/js/fictionshop/main.js}"></script>
</body>
</html>